# Notebook for Homework 1

In [2]:
# Preliminary Codes -- DO NOT CHANGE ANYTHING IN THIS SECTION
import random, pickle
import numpy as np
xData = [100*random.random() for i in range(20)]
number = 5+random.randint(8,20)
fruit = 'apples'
day = 'Saturday'
string_4 = 'An alacritous abalone accelerates along an alarming aquatic ascent.'
string_5 = 'A                       large space was here.'
string_6 = 'ATCGTGCATGCTGAGTGGCGAGCGGCGGCCGTACGCTGTTACTTAAAACGTAGCTGTAAAAAAC\
            GCTGCTGATGCTGTGCATGTGACTAGCTGCATGTGTGACTGACTGCTGACGTACTGTACGTACG\
            ATGGTTCGTGCGATGCGCTTGACGTGTCGTAGTGCATGCTGCTAGCTGATCGATGTGTCGAGTC'
nDigits = 6
nPower = 3
List10 = ['apples','bananas','pears','pears','blueberries','apples','strawberries']
Student_IDs = [1,2,3,4,5]
Student_names = ['Jim','John','Jenna','Jamal','Jaden']
List12 = [1,2,3,4,5,6,7,8]

q1 = 'xxx'
q2 = 'XXX'
q3 = 'XXX'
q4 = 123
q5 = 'XXX'
q6 = 123
q7 = 'XXX'
q8 = 1.23
q8 = 'xxx'
q9 = 'xxx'
q10 = List10
q11 = 'xxx'
q12 = [1,2,3,4,5,6,7,8]

fnDat = 'Hwk1Data.pkl'
dataDict = {'xData':xData,'number':number,'fruit':fruit,'day':day,'string_4':string_4,
    'string_5':string_5,'string_6':string_6,'nDigits':nDigits,'nPower':nPower,
    'Student_IDs':Student_IDs,'Student_names':Student_names,'List10':List10,'List12':List12}
with open(fnDat, 'wb') as file:
    pickle.dump(dataDict, file)

def saveResults():
    fn = 'Hwk1Answers.pkl'
    answerDict = {'q1':q1,'q2':q2,'q3':q3,'q4':q4,'q5':q5,'q6':q6,'q7':q7,'q8':q8,
                 'q9':q9,'q10':q10,'q11':q11,'q12':q12}
    with open(fn, 'wb') as file:
        pickle.dump(answerDict, file)

    #Read and print 
    with open(fn, 'rb') as file:
        loaded_dict = pickle.load(file)
    
    print("Your answers so far are:")
    print(loaded_dict)

## Problem Set 1 - Basic Arithmetic and String Manipulation

In [6]:
# Q1 - Concatenate the following strings with a space inbetween them (do not change the name).
string_1 = 'Hello my name is'
name = 'Name'
q1 = string_1 + ' ' + name

print(q1)
saveResults()

Hello my name is Name
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'XXX', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [11]:
# Q2 = Convert the following string to uppercase
string_2 = 'i would like to be uppercase'
q2 = string_2.upper()

print(q2)
saveResults()

I WOULD LIKE TO BE UPPERCASE
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [12]:
# Q3 - use string formatting to construct the following string: 
#. "I bought [number] [fruit] on [day]." where:
#     [number] is replaced with the number value of the variable "number",
#     [fruit] is replaced with the string value of the variable "fruit",
#     [day] is replaced with the string value of the variable "day",
print(number)
print(fruit)
print(day)
q3 = f"I bought {number} {fruit} on {day}."

saveResults()

15
apples
Saturday
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [16]:
# Q4 - count the number of a's in the string "string_4"
print(string_4)
# using count method
q4 = string_4.count('a')

# using for loop
q4 = 0
for i in range(len(string_4)):
    if string_4[i] == 'a':
        q4 += 1

print(q4)
saveResults()

An alacritous abalone accelerates along an alarming aquatic ascent.
13
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [19]:
# Q5 - Strip "string_5" to remove all spaces and return the result as 'q5'
print(string_5)
q5 = string_5.replace(' ','')

print(q5)
saveResults()

A                       large space was here.
Alargespacewashere.
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [20]:
# Q6 - How long is the string "string_6"?
q6 = len(string_6)

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [32]:
# Q7 - Write a STRING that contains the value of pi^[nPower]. 
# Use exponent form to the 3rd decimal point (e.g., 2.500e+00).
pi = np.pi
print(pi)
print(nDigits)
print(nPower)

q7 = f"{pi**nPower:.{3}e}"
print(q7)

saveResults()

3.141592653589793
6
3
3.101e+01
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 57.46268750396964, 'q9': 87.27124915114989, 'q10': ['apples', 'bananas', 'pears', 'blueberries', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 3, 5, 7]}

## Problem Set 2 - Iterables, Slicing, and Sets

In [25]:
# Q8 - Consider the numbers in the list "xData", and compute their average.
print(xData)
q8 = 1.23  # Change this to produce the average of the numbers in 'xData'
q8 = sum(xData)/len(xData)

saveResults()

[79.35867807557156, 85.29279663565676, 85.65888208853568, 61.13590193726003, 4.520518538179907, 75.41040698871248, 49.06313117812351, 7.5896306930601565, 17.331448540775263, 38.35196967858021, 8.666300184140995, 81.81952001929224, 41.87848639321443, 59.18479037084582, 96.05685595436432, 83.04840430538343, 90.05283617905191, 46.47748964722357, 51.08445352027059, 87.27124915114989]
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.100628e+01', 'q8': 57.46268750396964, 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [26]:
# Q9 - What's the last entry in the list "xData".  Get this by slicing the list.
print(xData)
q9 = xData[-1]

saveResults()

[79.35867807557156, 85.29279663565676, 85.65888208853568, 61.13590193726003, 4.520518538179907, 75.41040698871248, 49.06313117812351, 7.5896306930601565, 17.331448540775263, 38.35196967858021, 8.666300184140995, 81.81952001929224, 41.87848639321443, 59.18479037084582, 96.05685595436432, 83.04840430538343, 90.05283617905191, 46.47748964722357, 51.08445352027059, 87.27124915114989]
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.100628e+01', 'q8': 57.46268750396964, 'q9': 87.27124915114989, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [28]:
# Q10 - Convert between lists and sets to remove duplicate entries from the list "List10"
print(List10)
q10 = list(set(List10))
q10 = list(dict.fromkeys(List10))
print(q10)

saveResults()

['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries']
['apples', 'bananas', 'pears', 'blueberries', 'strawberries']
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.100628e+01', 'q8': 57.46268750396964, 'q9': 87.27124915114989, 'q10': ['apples', 'bananas', 'pears', 'blueberries', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [30]:
# Q11 - Combine the lists 'Student_IDs' and 'Student_names' into a dictionary keyed by the IDs. 
# i.e. Create a dictionary with pairs of { ID : student name }
print(Student_IDs)
print(Student_names)
q11 = dict(zip(Student_IDs, Student_names))
print(q11)

saveResults()

[1, 2, 3, 4, 5]
['Jim', 'John', 'Jenna', 'Jamal', 'Jaden']
{1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.100628e+01', 'q8': 57.46268750396964, 'q9': 87.27124915114989, 'q10': ['apples', 'bananas', 'pears', 'blueberries', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [31]:
# Q12 - Slice to get every other entry in the list 'List12'
print(List12)
q12 = List12[::2]
print(q12)

saveResults()

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7]
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.100628e+01', 'q8': 57.46268750396964, 'q9': 87.27124915114989, 'q10': ['apples', 'bananas', 'pears', 'blueberries', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 3, 5, 7]}